@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Work Sans", sans-serif;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(46, 46, 169, 1) 35%,
    rgba(11, 194, 231, 1) 100%
  );
  color: wheat;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p,
h1,
h2,
h4,
h3,
h5 {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

image {
  display: block;
  max-width: auto;
  height: auto;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
