/* @import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap"); */

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Zen Dots", cursive;
  /* background-image: linear-gradient(147deg, #ffe53b 0%, #fd3838 74%); */
  background-image: url(https://t4.ftcdn.net/jpg/01/98/24/71/360_F_198247162_JwrVkhqowZb4NJC24156nV6QYRhsV8Qf.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: black;
  color: wheat;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p,
h1,
h2,
h4,
h3,
h5 {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

image {
  display: block;
  max-width: auto;
  height: auto;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
